.bodyDark{
    background-color: #040404;
    }

.bodyLight{
    background-color: #e6e4e0;
    }

.h1{
    color: #610b97;
    background-color: rgb(4, 4, 4);
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
}   

.headerDark {
    background-color: rgb(28, 9, 37);
    padding: 30px;    
    text-align: center;
    font-size: 35px;
    color: #610b97;
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    }

.article {
    margin: auto;
    padding: 20px;
    width: 60%;
    background-color: #222222;
    height: auto;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    }

.articleLeft {
    float: left;
    margin-left: 50px;
    padding: 20px;
    width: 40%;
    background-color: #222222;
    height: auto;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
        }

.bottomHeader {
    overflow: hidden;
    background-color: rgb(28, 9, 37);
    bottom: 0;
    padding-top: 60px;  
    width: 100%;
    }

.containerUp {  
    width: auto;  
    height: 100px;  
    background-color: #222222;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    }  

.containerLeft {  
    float: left;
    width: 150px;
    height: 855px;  
    background-color: #222222; 
    }

.containerRight {
    float: right;
    width: 150px;
    height: 855px;
    background-color: #222222; 
    }

.containerGalleryL {  
    float: left;
    width: 150px;
    height: 6100px;  
    background-color: #222222; 
    }
    
.containerGalleryR {  
    float: right;
    width: 150px;
    height: 6100px;  
    background-color: #222222; 
    }

.table{
    width: 35%;
    float: right;
    margin-right: 50px;
    border: #610b97 3px solid;
    border-color: #610b97;
    background-color: #222222;
    color: #ffffff;
    text-align: left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;}

.th, td {
    padding: 8px;
    text-align: left;
    border: 2px solid #610b97;
    }

.th, td:hover{
    background-color: #393939;
}

.a{
    color: #FFFFFF;
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
}

.blink {
    animation: blink 6s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      color: rgb(255, 255, 255);
    }
  }

.center {
    margin-top: 50px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }

.buttonDark {
    margin:auto;
    width: 255px;
        color: rgb(255, 255, 255);
        font-size: 30px; 
        line-height: 22px; 
        padding: 9px; 
        border-radius: 5px; 
        font-family: "Trebuchet MS", Helvetica, sans-serif; 
        font-weight: normal; 
        text-decoration: none; 
        font-style: normal; 
        font-variant: normal; 
        text-transform: none; 
        text-align: center;
        background-image: radial-gradient(at center center, rgb(35, 34, 34) 0%, rgb(0, 0, 0) 100%, rgb(255, 255, 255) 100%); 
        box-shadow: rgb(0, 0, 0) 1px 1px 3px 13px; 
        border: 2px solid #4d2867; 
        display: inline-block;}
        .buttonDark:hover {
        background: #00000036;
        box-shadow:  #00000036 1px 1px 3px 13px; 
        border: 2px solid #4d2867; }
        .buttonDark:active {
        background: #000000; }

    .toTopButton {
        width: 130px;
        height: 25px;
        margin-top: 50px;
        color: rgb(255, 255, 255); 
        font-size: 24px; 
        line-height: 25px; 
        padding: 10px; 
        border-radius: 50px; 
        font-family: "Trebuchet MS", Helvetica, sans-serif; 
        font-weight: normal; 
        text-decoration: none; 
        font-style: normal; 
        font-variant: normal; 
        text-align: center;
        background-image: radial-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%, rgb(255, 255, 255) 100%); 
        box-shadow: rgba(94, 94, 94, 0) 20px -15px 15px 5px; 
        border: 2px solid #4d2867; 
        display: inline-block;}
        .toTopButton:hover {
        background: #ffffff38; }
        .toTopButton:active {
        background: #FFFFFF; }

    .imageFrameLeft {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 10px; 
        height: 500px;
        width: auto;
        border: 1px rgba(32, 32, 32, 0.937); 
        size: 50px;
        box-shadow: #610b97 0px 0px 15px 5px; 
    }
    .imageFrameLeft:hover {
        border: 13px solid #4d2867;
        height: 520px;
    }

    .imageFrameRight {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 10px; 
        height: 500px;
        width: auto;
        border: 1px rgba(32, 32, 32, 0.937); 
        size: 50px;
        box-shadow: #0b1b97 0px 0px 15px 5px; 
    }
    .imageFrameRight:hover {
        border: 13px solid #0b1b97;
        height: 520px;
    }

    .imageFrame{
        float: right;
        margin-right: 100px;
        height: 500px;
        width: auto;
    }