.bodyDark{
    background-image: url('assets/space.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.bodyLight{
    background-image: url('assets/sky.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.h1{
    color: rgb(0, 157, 255);
    background-color: rgb(4, 4, 4);
    text-align: center;
    
}

.headerDark {
    background-color: #3d3d3dd6;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(0, 157, 255);
  }

  .article {
    margin: auto;
    padding: 20px;
    width: 70%;
    background-color: #666666e7;
    height: 300px;
    color: rgb(0, 157, 255);
    font-size: 22px;
    text-align: center;
    }

.containerUp {  
    width: auto;  
    height: 100px;  
    background-color: #66666694;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    }  

.containerLeft {  
    float: left;
    width: 150px;
    height: 1000px;;  
    background-color: #66666694;
    display: flex;  
    justify-content: center;  
    align-items: left;  
    }

.containerRight {  
    float: right;
    width: 150px;
    height: 1000px;  
    background-color: #66666694;
    display: flex;  
    justify-content: center;  
    align-items: left;  
    }

.buttonDark {
    margin:auto;
    width: 255px;
        color: rgb(255, 255, 255);
        font-size: 30px; 
        line-height: 22px; 
        padding: 9px; 
        border-radius: 5px; 
        font-family: "Trebuchet MS", Helvetica, sans-serif; 
        font-weight: normal; 
        text-decoration: none; 
        font-style: normal; 
        font-variant: normal; 
        text-transform: none; 
        text-align: center;
        background-image: radial-gradient(at center center, rgb(35, 34, 34) 0%, rgb(0, 0, 0) 100%, rgb(255, 255, 255) 100%); 
        box-shadow: rgb(0, 0, 0) 1px 1px 3px 13px; border: 2px solid rgb(255, 255, 255); 
        display: inline-block;}
        .buttonDark:hover {
        background: #00000036;
        box-shadow:  #00000036 1px 1px 3px 13px; border: 2px solid rgb(255, 255, 255); }
        .buttonDark:active {
        background: #000000; }

    .ButtonLight {
        color: rgb(255, 255, 255); 
        font-size: 30px; 
        line-height: 30px; 
        padding: 13px; 
        border-radius: 50px; 
        font-family: Georgia, serif; 
        font-weight: normal; 
        text-decoration: none; 
        font-style: normal; 
        font-variant: normal; 
        text-transform: none; 
        background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
        box-shadow: rgba(0, 0, 0, 0) -56px -4px 15px 5px; 
        border: 2px solid rgb(28, 110, 164); 
        display: inline-block;}
        .myButton:hover {
        background: #1C6EA4; }
        .myButton:active {
        background: #144E75; }

    .lightButton {
        margin: auto;
        width: 140px;
        z-index: 2;
        color: rgb(0, 0, 0); 
        font-size: 24px; 
        line-height: 24px; 
        padding: 10px; 
        border-radius: 50px; 
        font-family: Georgia, serif; 
        font-weight: normal; 
        text-decoration: none; 
        font-style: normal; 
        font-variant: normal; 
        text-transform: none; 
        background-image: radial-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%, rgb(255, 255, 255) 100%); 
        box-shadow: rgba(0, 0, 0, 0) 20px -15px 15px 5px; 
        border: 2px solid rgb(0, 0, 0); 
        display: inline-block;}
        .lightButton:hover {
        background: #ffffff38; }
        .lightButton:active {
        background: #FFFFFF; }

    .darkButton {
        margin: auto;
        width: 140px;
        z-index: 2;
        color: rgb(255, 255, 255); 
        font-size: 24px; 
        line-height: 24px; 
        padding: 10px; 
        border-radius: 50px; 
        font-family: Georgia, serif; 
        font-weight: normal; 
        text-decoration: none; 
        font-style: normal; 
        font-variant: normal; 
        text-transform: none; 
        background-image: radial-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%); 
        box-shadow: rgba(255, 255, 255, 0) 20px -15px 15px 5px; 
        border: 2px solid rgb(255, 255, 255); 
        display: inline-block;}
        .darkButton:hover {
        background: #00000036; }
        .darkButton:active {
        background: #000000; }

    .image {
        margin: auto;
    }

    .likeBtn{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .likeBtn:active{
        transform: scale(0.9, 0.9);
    }
    .likeBtn:active{
        animation: pop 0.6s 1;
    }
    .likeBtn path {
        fill: #767676;
    }
    .likeBtn:active path{
        fill: #ec3e3e;
    }

    .clone{
        position: absolute;
        animation: moveOutwards 0.9s 1;
        opacity: 0;
    }

    @keyframes moveOutwards{
        from {
            opacity: 1;
            transform: translate(0, 0)
        }
    }